<div class="container-section">
    <h2 class="info-sections">О нас</h2>
    <p>
        Добро пожаловать в туристическое агентство "Мир Путешествий" — ваше окно в удивительный мир приключений и незабываемых впечатлений! Мы предлагаем индивидуальные туры и готовые путевки по самым захватывающим направлениям по всему миру. Наша команда экспертов поможет вам подобрать идеальный отдых, исходя из ваших предпочтений и бюджета.
        Мы заботимся о каждом клиенте, предоставляя высококачественный сервис, начиная с подбора тура и заканчивая поддержкой на каждом этапе вашего путешествия. Нам доверяют, потому что мы создаем отдых, о котором вы мечтали!
    </p>
</div>

.container-section {
display: flex;
flex-direction: column;
align-items: center;
margin_bottom: 20px;
margin: 40px 
}

.info-sections {
margin-bottom: 20px;
font-size: 40px;
color: #370b0b;
}

.text {
text-indent: 40px;
margin: 5px;
text-align: justify;
font-size: 20px;
color: #370b0b;
}


