<div class="container-section">
    <h2 class="info-sections">О нас</h2>
    <p>
        Добро пожаловать в туристическое агентство "Мир Путешествий" — ваше окно в удивительный мир приключений и незабываемых впечатлений! Мы предлагаем индивидуальные туры и готовые путевки по самым захватывающим направлениям по всему миру. Наша команда экспертов поможет вам подобрать идеальный отдых, исходя из ваших предпочтений и бюджета.
        Мы заботимся о каждом клиенте, предоставляя высококачественный сервис, начиная с подбора тура и заканчивая поддержкой на каждом этапе вашего путешествия. Нам доверяют, потому что мы создаем отдых, о котором вы мечтали!
    </p>
</div>

<div class="container-section">
    <h2 class="info-sections">Наши услуги</h2>
    <div class="card-container">
        <div class="arrow left">&#10094;</div>

        <div class="card-wrapper">
            <div class="card">
                <img src="~/Новая папка4/" alt="card 1" />

                <h3> Инд тур</h3>
                <p>
                    мы разраб уникальные маршр
                </p>
            </div>
            здесь еще 5 карт
        </div>
        <div class="arrow right">&#10095;</div>
    </div>
</div>

<div class="container-section">
    <h2 class="info-sections">Мы находимся</h2>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aaf674f9f2c0f93c29d193f098eae2ea6c9a0391b241386854605ab1d0caeaf7c&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>