<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared.css" />
</head>
<body>
    <div id="header-top">
        <div class="logo">StroyMarket</div>
        <div class="button-header">
            <button class="button">Войти</button>

        </div>
    </div>

    <img class="img-header" src="~/Новая папка4/img2.jpg" />




    <div id="header-botton">
        <div class="menu">
            <ul>
                <li><a href="#home">Главная</a></li>
                <li><a href="#contact">Контакты</a></li>
                <li><a href="#countries">Страны</a></li>
                <li><a href="#o nas">О нас</a></li>
            </ul>
        </div>

    </div>

    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/shared_script.js"></script>

    <h1>Каталог товаров</h1>

    <div class="catalog">
        <div class="product">
            <img src="product1.jpg" alt="Товар 1">
            <h2>Товар 1</h2>
            <p>Описание товара 1.</p>
            <p>Цена: 1000 руб.</p>
            <button>Добавить в корзину</button>
        </div>

        <div class="product">
            <img src="product2.jpg" alt="Товар 2">
            <h2>Товар 2</h2>
            <p>Описание товара 2.</p>
            <p>Цена: 2000 руб.</p>
            <button>Добавить в корзину</button>
        </div>

</body>
</html>
